AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true 
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80 
IndentAccessModifiers: false
IndentCaseLabels: true
NamespaceIndentation: false
IndentWidth: 4
NamespaceIndentation: All 
PackConstructorInitializers: NextLine
PointerAlignment: Left
SpaceBeforeCpp11BracedList: true